<ContentSection @title="trackedLocalStorage service" as |content|>
  <content.P>
    Find below the available properties and methods of the <code class="inline-code">trackedLocalStorage</code> service.
  </content.P>
</ContentSection>

<ContentSection @title="Properties" as |content|>
  <content.P>
    <ul class="list-disc pl-8">
      <li >
        <code class="inline-code">length</code>
        <div>Returns the number of keys currently stored in the browser's local storage.</div>
      </li>
    </ul>
  </content.P>
</ContentSection>

<ContentSection @title="Methods" as |content|>
  <content.P>
    <ul class="list-disc pl-8">
      <li class="mb-8">
        <code class="inline-code">getItem(keyName:string, skipPrefixes:string[])</code>
        <div class="italic mb-1">returns: null|any</div>
        <p class="mb-2">
          Gets an specified item from local storage. Accepts an optional second arg to ignore listed prefixes.
        </p>
      </li>
      <li class="mb-8">
        <code class="inline-code">setItem(keyName:string, value:string, skipPrefixes:string[])</code>
        <div class="italic mb-1">returns: void</div>
        <div>
          Sets an specified item from local storage. Accepts an optional second arg to ignore listed prefixes.
        </div>
      </li>
      <li class="mb-8">
        <code class="inline-code">removeItem(keyName:string, skipPrefixes:string[])</code>
        <div class="italic mb-1">returns: void</div>
        <div>
          Removes a specified item from local storage. Accepts an optional second arg to ignore listed prefixes.
        </div>
      </li>
      <li class="mb-8">
        <code class="inline-code">clear()</code>
        <div class="italic mb-1">returns: void</div>
        <div>
          Clears all keys in the browser's local storage.
        </div>
      </li>
      <li class="mb-8">
        <code class="inline-code">key(num:number)</code>
        <div class="italic mb-1">returns: null|any</div>
        <div>
          Retrieves the key at the specified number in local storage.
        </div>
      </li>
      <li>
        <code class="inline-code">setGlobalPrefix(name:string, value:string)</code>
        <div class="italic mb-1">returns: null|any</div>
        <div>
          Sets a global prefix to be used whenever accessing a local storage value. More info can be found <LinkTo class="text-blue" @route="global-prefixes">here</LinkTo>.
        </div>
      </li>
    </ul>
  </content.P>
</ContentSection>
