<div class="header bg-gradient-to-bl from-blue to-purple mb-10 overflow-hidden relative">
  <div class="container mx-auto flex flex-col justify-center text-center items-center pt-16 pb-32">
    <img
      class="filter-invert w-32 object-contain mr-3 mb-3"
      src="assets/images/ember_Ember-1c-Dark.png"
      alt="ember-logo"
    >
    <h1 class="flex text-5xl font-bold text-white mb-2">
      Tracked Local Storage
    </h1>
    <p class="text-white text-2xl w-8/12 mx-auto">
      Leadfeeder’s Ember Tracked Local Storage addon makes working with window local storage in modern Ember applications a breeze.
    </p>
  </div>

  <div class="transform -skew-y-3 origin-full bg-white h-6-vw absolute bottom-0 left-0 right-0"></div>
</div>
