<div class="leading-8 text-lg text-paragraph mb-6 mt-2 ml-6 inline px-6 py-4 bg-gray-200 border-l-4 border-blue">
  <h4 class="font-bold text-gray-800 text-lg italic">Important note!</h4>
  <p>{{yield}}</p>
</div>
