<h4 class="uppercase font-bold text-gray-600 mb-4">
  Documentation
</h4>

<ul>
  <NavigationItem @name="Introduction" @route="index" />
  <NavigationItem @name="Demo" @route="demo" />
  <NavigationItem @name="API Reference" @route="api-reference" />
</ul>