<div class="py-4 shadow">
  <div class="container mx-auto flex justify-between">
    <a class="flex" href="https://www.leadfeeder.com" target="_blank">
      <img
        class="w-24 object-contain green"
        src="assets/images/leadfeeder-logo-transparent-400.png"
        alt="leadfeeder-logo"
      >
    </a>


    <div class="flex items-center">
      <p class="text-gray-600 mr-6">v1.0.0</p>
      <a
        href="https://github.com/Leadfeeder/ember-tracked-local-storage"
        target="_blank"
        class="hover:bg-green-500 bg-green-400 text-white px-4 py-2 rounded transition duration-200 font-bold text-sm"
      >
        View on Github
      </a>
    </div>
  </div>
</div>